In [1]:
import pandas as pd

# creating a dataframe with the given dataset (data1)

In [ ]:
df = pd.read_csv("data1.csv")

# replacing Na with 0 in the income column

In [ ]:
df['Income'] = df['Income'].fillna(0)

# find the average age of customers in the dataset (data1)

In [ ]:
Average = df['Age'].mean()
print(Average)